@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --primary-color: cornflowerblue;
}

body{
    background:#f5f5f5;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.navbar{
    background:#fff;
    padding: 1em;

    .logo{
        text-decoration: none;
        font-weight: bold;
        color: #151515;
        font-size: 1.2em;

        span{
            color: var(--primary-color);
        }
    }

    nav{
        display: none;
    }
    
    .container{
        display: flex;
        place-content: space-between;
    }
    
    .mobile-menu{
        cursor: pointer;
    }
}

a{
    color: #444;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
    padding: 5em 2em;
}

.hero{
    text-align: center;
}

.left-col{

    .subhead{
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
        letter-spacing: .3em;
    }

    h1{
        font-size: 2em;
        line-height: 1em;
    }

    .primary-cta{
        background: var(--primary-color);
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        display: inline-block;
    }

    .watch-video-cta{
        margin-top: 1.5em;
        display: block;

        img{
            margin-right: .5em;
        }
    }
}

.hero-img{
    width: 70%;
    margin-top: 3em;
}

section.features-section{
    background: #151515;
    color: #fff;
}

ul.features-list{
    margin: 0;
    padding-left: .1em;
    // come back to this

    li{
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
        position: relative;

        &:before{
            content:'';
            position: absolute;
            left: -2em;
            width: 24px;
            height: 24px;
            background-image: url('/img/tick.svg');
            background-size: contain;
            margin-right: .5em;
        }
    }
}

.features-section img{
    display: none;
}

section.testimonials-section{
    background: var(--primary-color);
    color: #fff;

    li{
        background: rgba($color: #151515, $alpha: .2);
        text-align: center;
        padding: 2em 1em;
        margin-bottom: 5em;
        border-radius: 1em;

        img{
            width: 5em;
            height: 5em;
            border: 5px solid rgba($color: #151515, $alpha: .2);
            border-radius: 50%;
            margin-top:-4.5em;
        }
    }
}

h2{
    font-size: 2em;
}

label{
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

input,textarea{
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

input[type="submit"]{
    background: var(--primary-color);
    color: #fff;
    font-weight: bold;
    border: 0;
    font-size: 1.3em;
    margin-bottom: 5em;
    cursor: pointer;
}

iframe{
    width: 100%;
    height: 350px;
}

nav.menu-btn{
    display: block;
}

nav{
    position: fixed;
    z-index: 999;
    width: 80%;
    right: 0;
    top: 0;
    background: #151515;
    height: 100vh;
    padding: 1em;

    ul.primary-nav{
        margin-top: 5em;
    }

    li{

        a{
            color: #fff;
            text-decoration: none;
            font-size: 1.3em;
            text-align: right;
            display: block;
            padding: .5em;

            &:hover{
                font-weight: bold;
            }
        }
    }
}

.mobile-menu-exit{
    float: right;
    margin: .5em;
    cursor: pointer;
}